<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=5, user-scalable=1.0">
<nav class="navbar navbar-light bg-faded" style="border-bottom-style: 2px solid black;">
  <a class="navbar-brand" href="/">
    <img src="https://s3-us-west-2.amazonaws.com/snowstake/pictures/snowstake_logo.png" width="29" height="77" class="d-inline-block align-top" alt="">
    <h2 class="d-inline-block align-top" style="margin-top: 20px; color:red; font-family: 'Roboto Slab', serif; text-decoration:underline;">Snow Stake</h2>
  </a>
</nav>
