<meta name="viewport" content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=5, user-scalable=1.0">
  <nav class="navbar navbar-light bg-faded" style="border-bottom-style: 2px solid black;">
  <a class="navbar-brand" href="/">
    <img src="https://s3-us-west-2.amazonaws.com/snowstake/pictures/snowstake_logo.png" width="29" height="77" class="d-inline-block align-top" alt="">
    <h2 class="d-inline-block align-top" style="margin-top: 20px; color:red; font-family: 'Roboto Slab', serif; text-decoration:underline;">Snow Stake</h2>
  </a>
</nav>
<div class="container" id="state-launch-container">
  <div class="row justify-content-center" style="width:`auto`">
    <div class="col-11" id="state-launch-button-column">
      <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          States
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="home.html">Colorado</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container" id="resorts-container">
    <div class="row justify-content-center" style="width:`auto`">
      <div class="col-11" id="resort-index-list">
        <div id="accordion" role="tablist">
          <br>
          <div class="card" style=" text-align:center;">
            <div class="card-header" role="tab" id="heading-radar" style="height:10vh;">
              <h2 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-radar" aria-expanded="false" aria-controls="collapse-radar">
                  Radar
                </a>
              </h2>
            </div>
            <div id="collapse-radar" class="collapse" role="tabpanel" aria-labelledby="heading-radar" data-parent="#accordion">
              <div id="radar-card-data" class="card-body" style="text-align:center;">
              </div>
            </div>
          </div>
          <br>
          <div class="card" style=" text-align:center;">
            <div class="card-header" role="tab" id="heading-all" style="height:10vh;">
              <h2 class="mb-0">
                <a class="collapsed" data-toggle="collapse" href="#collapse-all" aria-expanded="false" aria-controls="collapse-all">
                  All
                </a>
              </h2>
            </div>
            <div id="collapse-all" class="collapse" role="tabpanel" aria-labelledby="heading-all" data-parent="#accordion">
              <div id="all-card-data" class="card-body" style="text-align:center;">
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
<script>
  $(document).ready(getResortData())
</script>
