<%= render 'navbar/navbar' %>
<div class="container" id="state-index-message-container">
  <div class="row justify-content-center" style="width:`auto`">
    <div class="col-12" id="state-index-header">
      <div id="state-index-header">
        Welcome to Snow Stake, please choose a state.
      </div>
    </div>
  </div>
</div>
<div id="states-index-container">
</div>
<script>
  $(document).ready(getStateData())
</script>
