<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="quick-forecasts-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Snowfall</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="quick-forecasts-modal-body">
        <div id="quick-forecasts-table-container">
          <table id="quick--table" >
            <thead>
            </thead>
            <tbody id=quick-table-body>
          </table>
          <table id="quick-forecasts-table" >
            <thead>
              <tr id="quick-forecasts-table-header">
                <th id="forecast-modal-sticky-name">Resorts</th>
              </tr>
            </thead>
            <tbody id=quick-forecasts-table-body>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
