<%= render 'navbar/navbar' %>
<div class="container" id="resort-show-header-container">
  <div class="row justify-content-center" style="width:`auto`">
    <div class="col-12" id="resort-show-header">
      <div id="resort-show-message">
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
    </div>
    <div class="col">
      <div id="resort-show-picture">
        <div id="resort-show-picture-header">
          Snow Stake
        </div>
        <div id="resort-show-picture-body">
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
    </div>
    <div class="col">
      <div id="resort-current-conditions">
        <div id="resort-current-conditions-header">
          Current Conditions
        </div>
        <div id="resort-current-conditions-body">
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
    </div>
    <div class="col">
      <div id="resort-show-forecast">
        <div id="resort-show-forecast-header">
          Forecast
        </div>
        <div id="resort-show-forecast-body">
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<script>
  $(document).ready(loadResortShow())
</script>
